html
    head
        title Index
    body.container
        h1 我是主页测试网页
        -
            var formList = [
                {id:'name', type:'text'},
                {id:'price', type:'text'},
                {id:'price_unit', type:'text', value: 'HK'}
            ]
        form(action='http://localhost:3000/add').form-group
            each item in formList
                div
                    label(for=item.id)
                    input.form-control(type=item.type id=item.id placeholder=item.id value=item.value name=item.id)
            button.btn.btn-default(type='submit') 提交

        table.table
            thead
                tr
                    td 商品名称
                    td 商品价格
                    td 商品单位
            tbody#dataWrap
                each item in resData
                    tr
                        td=item.name
                        td=item.price
                        td=item.price_unit
        button.btn.btn-default#getData(type='button') 刷新数据